service cloud.firestore {

    match /databases/{database}/documents {

        match /estudantes/{estudanteID}{

            function requestOwnsData(){//True if the request is coming from the student owner
                return request.auth.token.matricula == resource.data.matricula;
            }
            allow create: if false;
            allow delete: if requestOwnsData();
            allow read: if requestOwnsData();
            allow update: if requestOwnsData() && request.resource.data.matricula == resource.data.matricula;

            match /{document=**} {

            function requestAllowed(){//True if the request is coming from the owner
                return request.auth.token.matricula == get(/databases/$(database)/documents/estudantes/$(estudanteID)).data.matricula;
            }

            allow write, read: if requestAllowed();

            }

        }

        match /errors {
            allow read, write: if false;
            match /{document=**} {
                allow read, write: if false;
            }
        }

    }

}